@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Jura;
}
/*Шапка страницы каталог*/
.navbar{
    display: flex;
    background-image: url("../../../../public/catalog-header.png");
    background-size: cover;
    background-position: top;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    background-size: cover;
}

.logo img{
    height: 89px;
    height: fit-content;

}

.logo{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 600px;
}

.rightpanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contact{
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    align-items: flex-end;
    height: fit-content;
}

.social img{
    margin: 0 10px;
}

.phone{
    display: flex;
}

.phone img{
    width: 25px;
    height: 25px;
    margin: 11.5px -12px;
}

.contact p{
    font-size: 18px;
    margin: 12.5px 12.5px;
}