@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Jura;
}
/*Шапка страницы каталог*/
.navbar{
    display: flex;
    background-image: url("../../../public/catalog-header.png");
    background-size: cover;
    background-position: top;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    background-size: cover;
}

.logo img{
    height: 89px;
    height: fit-content;

}

.logo{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 600px;
}

.rightpanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contact{
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    align-items: flex-end;
    height: fit-content;
}

.social img{
    margin: 0 10px;
}

.phone{
    display: flex;
}

.phone img{
    width: 25px;
    height: 25px;
    margin: 11.5px -12px;
}

.contact p{
    font-size: 18px;
    margin: 12.5px 12.5px;
}

.priceAndButton {
    display: flex; /* Размещение элементов в строку */
    align-items: center; /* Выравнивание элементов по вертикали */
    justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
}

.priceAndButton p {
    margin: 0; /* Убираем отступы */
}


.button{
    display: flex;
    padding: 0px 30px 30px 0;
}

.button ul{
    margin-left: 30px;
}

.button li{
    background-color: #0e4b78;
    border-radius: 30px;
    font-size: 25px;
    width: 176px;
    height: 45px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s
}

.button li:hover{
    background-color: #0b3e64;
}

.addButton {
    background-color: #0e4b78;
    color: white;
    border: none;
    padding: 5px 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 5px;
}

.addButton:hover {
    background-color: #0b3e64;
}

/*Фильтры и выбор бренда*/
.catalog{
    display: flex;
}

.filters{
    display: flex;
    width: fit-content;
    text-align: left;
    margin-top: 90px;
    flex-direction: column;
    border-right:solid 1px gray;
}

.filters li{
    font-size: 25px;
    list-style-type: none;
    margin: 0 25px 25px 25px;

}

.brands h1{
    font-size: 30px;
    margin: 27px 0 40px 0;
}

/*Карточка товара*/
.productCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 90px;
}

.productCard{
    width: 300px;
    height: 300px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.productCard img{
    width: 100%;
    height: 200px;
    object-fit: cover
}

.readMore{
    display: flex;
    justify-content: flex-end;
}

.readMore li{
    background-color: #0e4b78;
    border-radius: 30px;
    font-size: 20px;
    width: 125px;
    height: 35px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s
}

.readMore li:hover{
    background-color: #0b3e64;
}

@media screen and (max-width: 900px) {
    .navbar {
        height: auto; /* Автоматическая высота шапки */
        flex-direction: column; /* Расположение элементов в колонку */
        align-items: center; /* Выравнивание по центру */
        margin: 0;
        padding: 0;
        }

    .logo {
        margin-bottom: 20px; /* Отступ между логотипом и другими элементами */
        display: flex; /* Размещение элементов в строку */
        justify-content: center; /* Выравнивание лого по центру */
        width: 50%; /* Уменьшение ширины логотипа */
    }

    .logo img {
        width: 100%; /* Уменьшение размера логотипа */
    }

    .rightpanel {
        display: flex; /* Возвращаем отображение блока справа */
        justify-content: space-between; /* Распределение элементов по горизонтали */
        align-items: center; /* Выравнивание по центру */
        width: 100%; /* Ширина 100% */
        padding: 10px 20px; /* Отступы внутри блока */
    }

    .contact {
        display: none; /* Скрываем контактные данные */
    }

    .button {
        display: flex; /* Возвращаем отображение кнопок */
    }

    .catalog {
        display: flex; /* Возвращаем обратно flex-расположение */
        align-items: flex-start; /* Выравнивание элементов по верхнему краю */
        margin-top: 20px; /* Отступ сверху */
    }

    .filters {
        margin-top: 20px; /* Уменьшаем отступ сверху для фильтров */
        margin-bottom: 20px; /* Уменьшаем отступ снизу для фильтров */
        border-right: solid 1px gray; /* Возвращаем обратно правую границу */
        padding-right: 20px; /* Увеличиваем отступ справа для фильтров */
    }

    .productCardContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }

}


