@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Jura;
}

.navbar{
    display: flex;
    background-image: url("../../../../public/home-header.png");
    background-size: cover;
    background-position: top;
    max-width: 2560px;
    height: 400px;
    justify-content: space-between;
}

.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 650px;
}

.conteiner img{
    height: 89px;
    height: fit-content;
}

.conteiner ul{
    padding-top: 30px;
    display: inline-block;
    height: 45px;
    height:fit-content;
}

.conteiner li{
    background-color: #0e4b78;
    border-radius: 30px;
    font-size: 25px;
    width: 176px;
    height: 45px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s
}

.conteiner li:hover{
    background-color: #0b3e64;
}

.conteiner p{
    color: white;
    font-size: 25px;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    height: 90px;
    height:fit-content ;
}

.contact{
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    align-items: flex-end;
    height: fit-content;
}

.social img{
    padding: 0 10px;
}

.phone{
    display: flex;
}

.phone img{
    width: 25px;
    height: 25px;
    margin: 11.5px -12px;
}

.contact p{
    font-size: 18px;
    margin: 12.5px 12.5px;
}

.info h1{
    text-align: center;
    font-size: 50px;
    padding-top: 52px;
}
.info p{
    text-align: center;
    font-size: 40px;
}

.workclock h1{
    padding-top: 72px;
    text-align: center;
    font-size: 50px;
}
.workclock p{
    text-align: center;
    font-size: 40px;

}

.workclockinfo{
    display: flex;
    max-width: 2560px;
    padding: 71px 0 90px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.workclockinfo ul{
    list-style-type: none;
    width: 419px;
    padding: 40px 81px;
}

.workclockinfo li{
    text-align: center;
    align-items: center;
}

.workclockinfo h1{
    font-size: 27px;
}

.workclockinfo p{
    font-size: 25px;
}

.map{
    border: none;
    width: 100%;
    height: 400px;
}

@media  screen and (width < 1350px) {
    .info h1{
        font-size: 40px;
    }

    .info p{
        font-size: 30px;

    }

    .workclock h1{
        font-size: 40px;

    }

    .workclock p{
        font-size: 30px;

    }

}

@media screen and (width < 500px) {
    .navbar{
        height: 300px;
    }
    .conteiner{
        padding-top: 40px;
        justify-content: flex-start;
        width: 190px;
    }

    .conteiner img{
        width: 170px;
        height: 80px;
    }

    .conteiner p{
        padding-top: 20px;
        font-size: 15px;
    }


    .conteiner ul{
        padding-top: 20px;
    }

    .conteiner li{
        border-radius: 30px;
        font-size: 15px;
        width: 100px;
        height: 35px;
    }

    .contact{

    }
}

