@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Jura;
}
/*Шапка страницы каталог*/
.navbar{
    display: flex;
    background-image: url("../../../../public/catalog-header.png");
    background-size: cover;
    background-position: top;
    max-width: 2560px;
    height: 250px;
    justify-content: space-between;
}

.logo img{
    height: 89px;
    height: fit-content;

}

.logo{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 600px;
}

.rightpanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contact{
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    align-items: flex-end;
    height: fit-content;
}

.social img{
    margin: 0 10px;
}

.phone{
    display: flex;
}

.phone img{
    width: 25px;
    height: 25px;
    margin: 11.5px -12px;
}

.contact p{
    font-size: 18px;
    margin: 12.5px 12.5px;
}

.priceAndButton {
    display: flex; /* Размещение элементов в строку */
    align-items: center; /* Выравнивание элементов по вертикали */
    justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
}

.priceAndButton p {
    margin: 0; /* Убираем отступы */
}


.button{
    display: flex;
    padding: 0px 30px 30px 0;
}

.button ul{
    margin-left: 30px;
}

.button li{
    background-color: #0e4b78;
    border-radius: 30px;
    font-size: 25px;
    width: 176px;
    height: 45px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s
}

.button li:hover{
    background-color: #0b3e64;
}

.addButton {
    background-color: #0e4b78;
    color: white;
    border: none;
    padding: 5px 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 5px;
}

.addButton:hover {
    background-color: #0b3e64;
}

/*Фильтры и выбор бренда*/
.catalog{
    display: flex;
}

.filters{
    display: flex;
    width: fit-content;
    text-align: left;
    margin-top: 90px;
    border-right:solid 1px gray;
    flex-direction: column;

}

.filters li{
    font-size: 25px;
    list-style-type: none;
    margin: 0 25px 25px 25px;

}

.brands h1{
    font-size: 30px;
    margin: 27px 0 40px 0;
}

/*Карточка товара*/
.cards{
    display: flex;
    margin: 90px 0 0 200px;
    flex-wrap: wrap;
}

.position button{

}

.position{
    height: 240px;
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}

.image img{
    width: 200px;
    height: 200px;
    border: solid 1px gray;
}

.details{
    display: flex;
    flex-direction: row;
}




