@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Jura;
}
/*Шапка страницы каталог*/
.navbar{
    display: flex;
    background-image: url("../../../../public/catalog-header.png");
    background-size: cover;
    background-position: top;
    max-width: 2560px;
    height: 250px;
}

.conteiner{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: fit-content;
    height: 294px;
}

.navbar img{
    display: flex;
    height: 89px;
    height: fit-content;
    margin: 77px 0 77px 240px;
}

.conteiner ul{
    margin-top: 30px;
    display: flex;
    height: 45px;
    height:fit-content;

}

.conteiner li{
    background-color: #0e4b78;
    border-radius: 30px;
    font-size: 25px;
    width: 176px;
    height: 45px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.catalog{
    display: flex;
}

.filters{
    display: flex;
    width: fit-content;
    text-align: left;
    margin-top: 90px;
    border-right:solid 1px gray;
    flex-direction: column;

}

.filters li{
    font-size: 25px;
    list-style-type: none;
    margin: 0 25px 25px 25px;

}

.brands h1{
    font-size: 30px;
    margin: 27px 0 40px 0;
}

/*Карточка товара*/
.cards{
    display: flex;
    margin: 90px 0 0 200px;
    flex-wrap: wrap;
}

.position button{

}

.position{
    height: 240px;
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}

.image img{
    width: 200px;
    height: 200px;
    border: solid 1px gray;
}

.info{
    display: flex;
    flex-direction: row;
}
