/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Jura', sans-serif;
}

/* Шапка страницы корзина */
.navbar {
    display: flex;
    background-image: url("../../../../public/catalog-header.png");
    background-size: cover;
    background-position: top;
    max-width: 2560px;
    height: 250px;
    justify-content: space-between;
}

.logo img {
    height: 89px;
    height: fit-content;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 600px;
}

.rightpanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    align-items: flex-end;
    height: fit-content;
}

.social img {
    margin: 0 10px;
}

.phone {
    display: flex;
}

.phone img {
    width: 25px;
    height: 25px;
    margin: 11.5px -12px;
}

.contact p {
    font-size: 18px;
    margin: 12.5px 12.5px;
}

.button {
    display: flex;
    padding: 0px 30px 30px 0;
}

.button ul {
    margin-left: 30px;
}

.button li {
    background-color: #0e4b78;
    border-radius: 30px;
    font-size: 25px;
    width: 176px;
    height: 45px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button li:hover {
    background-color: #0b3e64;
}

/* Фильтры и выбор бренда */
.catalog {
    display: flex;
}

.filters {
    display: flex;
    width: fit-content;
    text-align: left;
    margin-top: 90px;
    border-right: solid 1px gray;
    flex-direction: column;
}

.filters li {
    font-size: 25px;
    list-style-type: none;
    margin: 0 25px 25px 25px;
}

.brands h1 {
    font-size: 30px;
    margin: 27px 0 40px 0;
}

/* Карточка товара */
.cards {
    display: flex;
    margin: 40px 0 0 200px; /* Увеличен вертикальный отступ между карточками */
    flex-wrap: wrap;
}

.position {
    height: 240px;
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}

.image img {
    width: 200px;
    height: 200px;
    border: solid 1px gray;
}

.details {
    display: flex;
    flex-direction: row;
}

.productInfo {
    margin-bottom: 10px; /* Добавим небольшое расстояние между названием и ценой */
}

.counter {
    display: flex;
    align-items: center;
}

.counterButton {
    background-color: #0e4b78;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 5px;
}

.counterButton:hover {
    background-color: #0b3e64;
}

.counterValue {
    font-size: 18px;
}

/* Адаптивный дизайн */
@media screen and (max-width: 900px) {
    .navbar {
        height: auto; /* Автоматическая высота шапки */
        flex-direction: column; /* Расположение элементов в колонку */
        align-items: center; /* Выравнивание по центру */
    }

    .logo {
        margin-bottom: 20px; /* Отступ между логотипом и другими элементами */
        display: flex; /* Размещение элементов в строку */
        justify-content: center; /* Выравнивание лого по центру */
        width: 50%; /* Уменьшение ширины логотипа */
    }

    .logo img {
        width: 100%; /* Уменьшение размера логотипа */
    }

    .rightpanel {
        display: flex; /* Возвращаем отображение блока справа */
        justify-content: space-between; /* Распределение элементов по горизонтали */
        align-items: center; /* Выравнивание по центру */
        width: 100%; /* Ширина 100% */
        padding: 10px 20px; /* Отступы внутри блока */
    }

    .contact {
        display: none; /* Скрываем контактные данные */
    }

    .button {
        display: flex; /* Возвращаем отображение кнопок */
    }

    .catalog {
        display: flex; /* Возвращаем обратно flex-расположение */
        align-items: flex-start; /* Выравнивание элементов по верхнему краю */
        margin-top: 20px; /* Отступ сверху */
    }

    .filters {
        margin-top: 20px; /* Уменьшаем отступ сверху для фильтров */
        margin-bottom: 20px; /* Уменьшаем отступ снизу для фильтров */
        border-right: solid 1px gray; /* Возвращаем обратно правую границу */
        padding-right: 20px; /* Увеличиваем отступ справа для фильтров */
    }

    .cards {
        margin-left: 20px; /* Отступ слева для карточек товара */
        margin-right: 20px; /* Уменьшаем отступ справа для карточек товара */
        flex: 1; /* Расширяем карточки товара, чтобы занять доступное пространство */
    }

    .position {
        margin-right: 20px; /* Уменьшаем правый отступ для позиции товара */
    }
}
